{% extends "template.html" %}
{% block content %}

  <header id="hero" class="hero">
    <div class="flex-container w-container">
      <div>
        <h1>Add an Expense</h1>

        <a href="{{ url_for('addExpenses') }}" class="button-8 w-button">Add an Expense</a>
      </div>
    </div>
  </header>
<section id="feature-section" class="feature-section">
    <div class="flex-container w-container">
      <div>
        <h2>Track Your Expenses</h2>

        <p>
        In total, you have spent ${{ expenses }} so far.
        </p>

        <h2>By Category</h2>
        {% for i in expensesByCategory %}
        <p>
          US$ {{ i[1] }} in <strong>{{ i[0] }}</strong>.
        </p>

        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}
